.group {
    position: relative;
    margin-left: 15px;
    width: 100%;
}

.comments-main form {
    margin-top: 24px;
    margin-bottom: 55px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px !important;
    display: block;
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #75757573 !important;
    margin-bottom: 0 !important;
    background: transparent;
}

input:focus {
    outline: none;
}

i.fa.fa-user-circle-o.fa-2x.text-light-blue {
    line-height: 2;
}

.btn-primary {
    background: #2793e6 !important;
    border-radius: 3px !important;
    border-color: #2793e6 !important;
}
.float-right{
    float: right;
}
label {
    /* color: #999; */
    color: #352323;
    font-weight: 400;
    line-height: 2.1rem;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 16px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: sans-serif;
}

.text-light-blue {
    color: #a0c3ff !important;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #352323;
    opacity: 0.7;
    font-weight: 500;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #352323;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

p.comments-head {
    color: #000000b5;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.8rem;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.text-light-dark {
    /* color: hsl(0, 1%, 54%)!important; */
    color: #352323;
    font-weight: 500;
}

.comments-main .media .media-object {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.comments-body {
    font-size: 15px;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 0;
    color:#352323;
}

.comments-footer {
    font-size: 15px;
    margin: 8px 5px;
    color: #0000007a;
}

.comments-footer i {
    font-size: 18px;
    margin: 8px 5px;
}
.mb-60{
    margin-bottom: 50px;
}
.media {
    transition: 0.3s all ease;
}

.comments-bottom {
    font-size: 15px;
    color: #352323 !important;
    font-weight: 500;
    font-family: sans-serif;
    transition: 0.3s all ease;
    margin-bottom: 15px;
}

.comments-bottom i {
    font-size: 23px;
    color: #352323;
    font-weight: 500;
    line-height: 20px;
    margin: 0px 2px;
    padding: 0px;
    vertical-align: middle;
}

.form-submit a {
    font-size: 15px;
    font-weight: 500;
}